<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration      
    PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" /><!-- 설정에서 각 mapper 에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부 -->
		<setting name="lazyLoadingEnabled" value="true" /><!-- 늦은 로딩을 사용할지에 대한 여부 -->
		<setting name="multipleResultSetsEnabled" value="true" /><!-- 한개의 구문에서 여러개의 ResultSet 을 허용할지의 여부 -->
		<setting name="useColumnLabel" value="true" /><!-- 칼럼명 대신에 칼럼라벨을 사용 -->
		<setting name="useGeneratedKeys" value="false" /><!-- 생성키에 대한 JDBC 지원을 허용 -->
		<setting name="autoMappingBehavior" value="FULL" /><!-- MyBatis 가 칼럼을 필드/프로퍼티에 자동으로 매핑할지와 방법에 대해 명시(NONE, PARTIAL, FULL) -->
		<setting name="defaultExecutorType" value="SIMPLE" /><!-- 디폴트 실행자(executor) 설정(SIMPLE, REUSE, BATCH) -->
		<setting name="defaultStatementTimeout" value="25" /><!-- 데이터베이스로의 응답을 얼마나 오래 기다릴지를 판단하는 타임아웃을 셋팅 -->
		<setting name="safeRowBoundsEnabled" value="false" /><!-- 중첩구문내 RowBound 사용을 허용 -->
		<setting name="mapUnderscoreToCamelCase" value="false" /><!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 함 -->
		<setting name="localCacheScope" value="SESSION" /><!-- 로컬캐시 사용 조건(SESSION, STATEMENT) -->
		<setting name="jdbcTypeForNull" value="OTHER" /><!-- JDBC타입을 파라미터에 제공하지 않을때 null값을 처리한 JDBC타입을 명시(NULL, VARCHAR, OTHER) -->
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" /><!-- 늦은 로딩을 야기하는 객체의 메소드를 명시 -->
	</settings>
	
	<typeAliases>
		<typeAlias alias="Member" type="com.cattle.member.model.Member"/>
	</typeAliases>
	
	<mappers>
		
		<!-- 이벤트 참여자 -->
		<mapper resource="config/mybatis/mysql/member.xml"/>
		<!-- <mapper resource="config/mybatis/mysql/Term/TermParticipant.xml"/> -->

	</mappers>

</configuration>